services:
  api:
    build: ./api
    expose:
      - "7777"
    networks:
      - backend

  frontend:
    image: nginx:latest
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
    expose:
      - "8080"
    depends_on:
      - api
    networks:
      - backend
      - frontend

  proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
    networks:
      - frontend

networks:
  backend:
    internal: true
  frontend:
    driver: bridge
