
.DS_Store
Thumbs.db
*.swp
*.swo
*~


venv/
.env/
.venv/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/


downloads/
pip-log.txt
pip-delete-this-directory.txt





vendor/
*.test
*.out




.vscode/
.idea/
*.iml


.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
