apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-test-deployment
  namespace: web
  labels:
    app: &app nginx
    version: &version 1.27.5
spec:
  replicas: 3
  selector:
    matchLabels:
      app: *app
      version: *version
  template:
    metadata:
      name: my-first-pod
      namespace: work
      labels:
        app: *app
        version: *version
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 5

            periodSeconds: 10

