---
apiVersion: v1
kind: Pod
metadata:
  name: nginx-with-config-and-secret
spec:
  # Указываем Secret для аутентификации в приватном registry
  imagePullSecrets:
  - name: docker-registry-secret
  
  containers:
  - name: web-server-on-c
    image: kirill4goodmopsa/my-simple-app
    
    volumeMounts:
    - name: config-volume
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
    
    ports:
    - containerPort: 80
  
  volumes:
  - name: config-volume
    configMap:
      name: nginx-config
