---
apiVersion: v1
kind: Service
metadata:
  name: my-nginx-service
  namespace: web
  labels:
    app.kubernetes.io/name: nginx
    app.kubernetes.io/version: 1.27.5
spec:
  selector:
    app: nginx
    version: 1.27.5
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9999
      name: http
---
apiVersion: v1
kind: Pod
metadata:
  name: my-nginx-pod
  namespace: web
spec:
  containers:
    - name: nginx
      image: nginx:latest
      ports:
        - containerPort: 80
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "500m"
      livenessProbe:
        httpGet:
          path: /healthz
          port: 80
        initialDelaySeconds: 5
        periodSeconds: 10
